// _base.scss should not compile to any CSS.
// It should only contain non-compiling .scss like variables and mixins.
// This will be available to all the other .scss files.
@import "zen";
@import "compass/reset";
@import "breakpoint";
@import url(https://fonts.googleapis.com/css?family=Muli:400,300|Lato:300,400);

// Western Brand Colors
$wwuBlue: #003f87;  // Passes color contrast checker: http://webaim.org/resources/contrastchecker/
$wwuRed: #cc2d30; // Passes color contrast checker for text on white background.
$wwuGreen: #006b3f; // Passes color contrast checker for text on white background.
$wwuLtBlue: #0083d6; // Fails color contrast checker for text on white background. Use $wwuOceanBlue instead for text.
$wwuOceanBlue: #0070b6; // Passes color contrast checker for text on white background.

$wwuYellow: #ffc61e; // Fails color contrast checker for text on white background. Use $wwuDarkYellow instead for text.
$wwuDarkYellow: #836200; // Passes color contrast checker for text on white background.

$wwuLime: #bad80a; // Fails color contrast checker for text on white background. Use $wwuDarkLime instead for text.
$wwuDarkLime: #6b7d06; // Passes color contrast checker for text on white background.

$wwuGrayBlue: #4B689C; // Passes color contrast checker for text on white background.
$dark: #000; // Passes color contrast checker for text on white background. Most body text, instead of #000.
$dark-transparent: rgba(0,0,0, 0.65);
$shadows: #333;

$wwuPaleBlue: #cce6f7; // Fails color contrast checker for text on white background.
$wwuPalestBlue: lighten($wwuPaleBlue, 5%); // Fails color contrast checker for text on white background.

$wwuGray: #656565; //Still waiting approval
$wwuDarkGray: #4c4c4c;
$wwuLtGray: #E9E9E9; // Fails color contrast checker for text on white background.


// Global Settings
$convertToEm: true;

//Breakpoints
$menu-break: 1550px;
$big-search-break: 1390px;
$med-search-break: 1160px;
$title-break: 600px;
$main-break: 775px;
$small-break: 500px;
$big-break: 1300px;


// Baseline grid; basic unit
$baseline: 16px;
$half-base:($baseline/2);
$quarter-base:($baseline/4);
$column-count: 17;

// Font variables
$serif: baskerville, garamond, georgia, serif;
$sans: verdana, arial, helvetica, geneva, sans-serif;
$muli: 'Muli', $sans;
$lato: 'Lato', $sans;
$code:"Lucida Console", Monaco, monospace;

// Zen grid global settings
// Overrides: 9 col in footer
$zen-column-count: $column-count;

$zen-gutter-width: $baseline;

$box-sizing-polyfill-path: "//www.wwu.edu/wwucommon/lite/js/boxsizing.htc";

//Issue Specific Variables
$issue-cover: url(../images/cover.jpg);
$western-logo: url(../images/western-logo.png);

//Layout Variables
$large-article-width: 5;
$small-article-width: 3;
$vertical-margin: 40px;
$wwu-logo-height: 140px;
$wwu-logo-width: 279px;
