//styles for front page
@import "screen";

//logo bar at top of page
.top-bar {
  @include zen-grid-item($column-count,1);
  @include zen-nested-container();
  background-color: $dark-transparent;
  color: #fff;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  h2, h3 {
    font-family: $lato;
    font-weight: 100;
    letter-spacing: .1em;
  }
}
.mag-logo {
  @include zen-grid-item($column-count, 0);
  margin: 1em 0 1.5em 0;
  text-align: center;
   img {
    max-height: 90px;
    max-width: 90vw;
  }
}

.issue {
  @include zen-grid-item($column-count,1);
  position: absolute;
  bottom: 2px;
  font-size: .8em;
  text-align: right;
  padding-right: 30px;
  @include breakpoint($big-search-break) {
    @include zen-grid-item(3,15);
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: center;
  }
}

//list of articles
.article-container {
  @include zen-grid-item($column-count - 2, 2);
  @include zen-nested-container();
  h4 {
    font-size: 1.6em;
  }
}
.article-image {
  width: 100%;
  background-size: cover;
  background-position: top center;
}
.big-article{
  @include zen-grid-flow-item($column-count, $column-count, $gutter-width: 0);
  padding: 10px;
  vertical-align: top;
  display: inline-block;
  overflow-y: hidden;
  .article-image {
    height: 312px;
  }
  @include breakpoint($main-break) {
    @include zen-grid-flow-item(5, $column-count - 2, $gutter-width: 0);
    padding: 10px;
  }
}
.small-article{
  @include zen-grid-flow-item($column-count,$column-count, $gutter-width: 0);
  padding: 10px;
  vertical-align: top;
  display: inline-block;
  overflow-y: hidden;
  .article-image {
    height: 200px;
  }
  @include breakpoint($small-break) {
    @include zen-grid-flow-item(5,$column-count - 2, $gutter-width: 0);
    padding: 10px;
  }
  @include breakpoint($big-break) {
    @include zen-grid-flow-item(3,$column-count - 2, $gutter-width: 0);
    padding: 10px;
  }

}
.article-title {
  margin: .3em 0;
}
.article-summary {
  margin-bottom: .6em;
}

//class notes
.class-notes {
  @include zen-grid-item($column-count - 4, 3);
  @include zen-nested-container();
  .left-arrow {
    @include zen-grid-item(1,0);
  }
  .right-arrow {
    @include zen-grid-item(1, $column-count - 3);
  }
}
.note {
  display: table;
  line-height: 1.3em;
  h4 {
    margin-bottom: .5em;
  }
}
.note-text {
  vertical-align: middle;
  padding: 20px;
  @include breakpoint ($small-break) {
    display: table-cell;
  }
}
.photo-wrap {
  vertical-align: middle;
  @include breakpoint ($small-break) {
    display: table-cell;
  }
}
.note-photo {
  border-radius: 50%;
  width: 200px;
	height: 200px;
  margin: 0 auto;
  @include breakpoint($main-break) {
    width: 280px;
    height: 280px;
  }
}
.notes-menu {
  @include zen-clear();
  @include zen-grid-item($column-count - 2, 4);
  text-align: right;
  padding: 10px;
  margin-top: $vertical-margin;
  @include breakpoint($small-break) {
    li {
    display: inline-block;
    }
  }
}
