//styles for long article layout
@import "screen";

h1, h2, h3, h4, h5 {
  margin: $vertical-margin/2 0;
  margin-left: -1em;
  color: $wwuBlue;
}

//pulll quotes
blockquote {
  font-family: $serif;
  font-size: 1.3em;
  line-height: 1.3em;
  font-style: italic;
  color: $wwuBlue;
  @include breakpoint($main-break) {
    font-size: 2.2em;
  }
}

//positioning for quotes
.center {
  width: 120%;
  margin: 1em;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.right, .left {
  width: 40%;
  margin: 1em;
  @include breakpoint($big-break) {
      width: 60%;
  }
}
.right {
  float: right;
  margin-right: -1em;

  @include breakpoint($big-break) {
    margin-right: -3.75em;
  }
}
.left {
  float: left;
  margin-left: -1em;

  @include breakpoint($big-break) {
    margin-left: -3.75em;
  }
}

//splash area
.article-header {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}
.article-info {
  @include zen-grid-item($column-count - 2, 2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 1px 1px 0px $shadows;
  text-align: right;
  font-family: $serif;
  @include breakpoint($small-break) {
    @include zen-grid-item(10, $column-count - 10);
  }
  h1, h2, h3, h4, h5 {
    color: $wwuLtGray;
  }
}
.title {
  font-size: 3.5em;
  @include breakpoint($main-break) {
    font-size: 5em;
  }
}
.tagline {
  line-height: 1.7em;
  font-size: 1em;
  @include breakpoint($main-break) {
    font-size: 1.2em;
  }
}
.author {
  font-size: 1.5em;
  @include breakpoint($main-break) {
    font-size: 2em;
  }
}

//main article area
.article-content {
  font-size: 1.3em;
  line-height: 1.5em;
  width: 50%;
  margin: 0 auto;
  p {
    margin-bottom: 1em;
  }
}

//mid-article slideshow
.slideshow {
  @include zen-clear(both);
  @include zen-grid-container;
  width: 100vw;
  height: 70vh;
  max-height: 100vw;
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-top: $vertical-margin;
  margin-bottom: $vertical-margin;
  transform: translateX(-25%);
  margin-right: -50%;
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 40;
  }
  .left-arrow {
    @include zen-grid-item(1,1);
    text-align: left;
    margin-left: 10px;
  }
  .right-arrow {
    @include zen-grid-item(1, $column-count);
    text-align: right;
    padding-right: 25px;
  }

}

.slides {
  @include zen-grid-item($column-count, 2);
  margin-left: 50%;
  transform: translateX(-50%);
  img {
    height: 70vh;
    max-height: 100vw;
  }
  @include breakpoint($big-break) {
    height: 70vh;
  }
}

//bottom of page
.author-about {
  font-style: italic;
}
