//main styles for all pages
@import "base";

//fix slideshow positioning
.slick {
  margin-left: -10px;
}

//basic styling
body {
    font-family: $muli;
    //font-size: $base-font-size;
    //line-height: $base-line-height;
    font-weight: 300;
    color: $dark;
    background-color: #fff;
    overflow-x:hidden;
}
a {
    color: $wwuOceanBlue;
    text-decoration: none;
    &:hover {
        color: darken($wwuOceanBlue, 15%);
    }
}
h1, h2, h3, h4, h5 {
  font-family: $serif;
  letter-spacing: .02em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
.hidden {
  display: none;
}
.left-arrow , .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  height: 10vh;
  max-height: 100px;
  padding: 0;
  z-index: 40;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}
.divider {
  @include zen-grid-item($column-count - 2, 2);
  @include zen-clear(both);
  background: $wwuBlue;
  color: #fff;
  padding: 20px;
}

//wrappers
.page-wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.main-wrapper {
  padding-bottom: 300px; //make way for the footer
}
.article-wrap {
  @include zen-grid-container;
  @include zen-clear(both);
  padding: $vertical-margin 0;
  position: relative;
}

//splash area
.splash {
  @include zen-grid-container();
  position: relative;
  height: 100vh;
  color: $wwuLtGray;
  .left-arrow {
    @include zen-grid-item(1,2);
  }
  .right-arrow {
    @include zen-grid-item(1, $column-count - 1);
  }
  @include breakpoint($main-break) {
    .left-arrow {
      @include zen-grid-item(1,1);
    }
    .right-arrow {
      @include zen-grid-item(1,$column-count);
    }
  }
}
.cover-slideshow span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
}
.vertical-spacer {
  height: 100vh;
}

//main navigation bar
.nav-bar {
  @include zen-grid-item($column-count,1);
  background-color: $dark-transparent;
  color: #fff;
  height: 70px;
  z-index: 50;
  font-family: $lato;
  font-size: 1.3em;
  font-weight: 100;
  letter-spacing: .1em;
  text-transform: lowercase;
  ul, li, a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  }
}
.top {
  position: absolute;
  top: 0;
}
.bottom {
  position: absolute;
  bottom: 70px;
  margin-bottom: -70px;
}
.sticky {
  position: fixed;
  top: 0;
}
.menu-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 99;
  max-width: 5%;
  min-width: 30px;
  @include breakpoint($menu-break) {
    display: none;
  }
}
.nav-menu-active {
  @include zen-grid-item(5,1);
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  min-width:200px;
  z-index:98;
  .menu-divider {display:none;}
  li {
    margin-left: -10px;
    padding: $vertical-margin/2;
    background-color: $dark-transparent;
  }
}
.nav-menu {
  display: none;
}
.nav-menu, .nav-menu-active {
  @include breakpoint($menu-break) {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    background: none;
    left: inherit;
    top: 50%;
    transform: translateY(-50%);
    width: inherit;
    z-index:98;
    li {
      margin-left: inherit;
      display: inline-block;
      padding: 0;
      background-color: inherit;
    }
    .menu-divider { display: inline; }
  }
}
.nav-bar-logo {
  @include zen-grid-item($column-count, 1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  img {
    max-width: 70vw;
    max-height: 60px;
  }
}

//search bar
.search {
  background: transparentize(#fff, .9);
  color: $wwuLtGray;
  text-align: right;
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(-10%, -50%);
  padding: 4px;
  @include breakpoint($med-search-break) {
    @include zen-grid-item(3,$column-count - 2);
    display: block;
  }
  @include breakpoint($big-search-break) {
    @include zen-grid-item(2,$column-count - 1);
  }
  .search-icon {
    vertical-align: middle;
    background: none;
    border: none;
    img {
      height: 30px;
    }
  }
}

//footer
.footer {
  @include zen-grid-item($column-count,1);
  height: 300px;
  background: $wwuBlue;
  text-align: center;
  position: absolute;
  bottom: 0;
  img {
    max-width: 80%;
    margin: $vertical-margin 0;
  }
  ul, li, a {
  color: #fff;
  text-decoration: none;
  }
  li {
    display: inline-block;
    list-style: none;
  }
  a:hover {
    color: $wwuPaleBlue;
  }
}
