//formatting for shorter articles
@import "screen";

blockquote {
  font-family: $serif;
  font-size: 2.5em;
  line-height: 1em;
  font-style: italic;
  color: $wwuBlue;
  opacity: 1.0;
  margin-bottom: .75em;
}
.article-info {
  margin: $vertical-margin;
  font-family: $serif;
}
.title {
  font-size: 3em;
  line-height: 1em;
}
.tagline {
  font-size: 1.5em;
  line-height: 2em;
}
.author {
  font-size: 2em;
}
.article-wrap {
  @include zen-grid-container();
  margin-top: 90px;
}
.article-content {
  @include zen-clear(both);
  @include zen-grid-item($column-count - 4,3);
  font-size: 1.3em;
  line-height: 1.5em;
  p {
    margin-bottom: 1em;
  }
}
.main-image {
  float: left;
  height: 50vh;
  width: auto;
  margin: $vertical-margin;
}
.slideshow {
  @include zen-clear(both);
  @include zen-grid-container;
  position: relative;
  margin-top: $vertical-margin 0;
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .left-arrow {
    @include zen-grid-item(1,1);
    text-align: left;
    z-index: 40;
    margin-left: 10px;
  }
  .right-arrow {
    @include zen-grid-item(1, $column-count);
    text-align: right;
    z-index: 40;
    padding-right: 25px;
  }
}
.slides {
  @include zen-grid-item($column-count, 2);
  margin-left: 50%;
  transform: translateX(-50%);
  //set height of slideshow here
  img {
    height: 70vh;
  }
}
