<!doctype html>
<html class="no-js" lang="">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Window - WWU Alumni Magazine</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="stylesheets/index.css" media="screen" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
      <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">
      <!--[if IE]>
          <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <![endif]-->

  </head>

  <body>
    <div data-ng-app="articleApp" class="page-wrapper">
      <header class="splash">
          <!-- SLIDESHOW -->
          <data-slick>
            <button type="button" class="left-arrow">
              <img src="images/left-arrow.png" alt="scroll backward through covers">
            </button>

            <ul class="cover-slideshow" data-ng-controller="coverCtrl">
              <li data-ng-repeat="cover in covers">
                <span style="background-image: url('{{cover.imageurl}}')"></span>
                <img class="vertical-spacer" src="images/vertical-1080.png" alt="{{ cover.title }}">
              </li>
            </ul>

            <button type="button" class="right-arrow">
              <img src="images/right-arrow.png" alt="scroll forward through covers">
            </button>
          </data-slick>

          <!-- TOP LOGO BAR -->
          <div data-ng-controller="issueCtrl" class="top-bar">

            <div class="mag-logo">
              <img src="images/main-logo.png" alt="Window, the Western Washington University Magazine">
            </div>

            <h3 class="issue">{{ issues[0].list[0].field_edition }}</h3>

          </div>

          <data-navigate-bar data-ng-init="frontPage = true"></data-navigate-bar>

        </header>

      <main class="main-wrapper" data-ng-controller="articleCtrl">

        <!-- HIGHLIGHTED ARTICLES -->
        <data-generate-articles articles="articles" article-type="highlight" styling="big-article"></data-generate-articles>

        <div class="divider">
          <h3>Stories from this Issue</h3>
        </div>

        <!-- MORE ARTICLES -->
        <data-generate-articles articles="articles" article-type="regular" styling="small-article"></data-generate-articles>

        <div class="divider">
          <h3>Class Notes</h3>
        </div>

        <data-class-notes notes="notes"></data-class-notes>

      </main>

      <data-add-footer></data-add-footer>

    </div><!--page-wrapper-->

    <script src="js/jquery_1.11.3.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/effects.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <script src="bower_components/angular-slick/dist/slick.js"></script>
  </body>
</html>
