<!doctype html>
<html class="no-js" lang="">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Window - WWU Alumni Magazine</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="stylesheets/long-article-layout.css" media="screen" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
      <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">
      <!--[if IE]>
          <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <![endif]-->
  </head>
  <body>
    <div data-ng-app="articleApp" class="page-wrapper">

    <!-- NAVIGATION BAR (sticks to top) -->
    <data-navigate-bar></data-navigate-bar>

    <main data-ng-controller="articleCtrl" class="main-wrapper">
      <!-- SPLASH -->
      <section class="splash">
        <div class="article-header" style="background-image: url('{{ articles[0].field_featured_image.file.uri }}')"></div>
        <header class="article-info">
          <h1 class="title">{{ articles[0].title }}</h1>
          <h3 class="tagline">{{ articles[0].field_byline }}</h3>
          <h2 class="author">by {{ articles[0].field_article_author }}</h2>
        </header>
      </section>

      <!-- ARTICLE CONTENT -->

      <article class="article-wrap">

        <!-- Article Text -->
        <section class="article-content">

          <span class="the-article" ng-bind-html="articles[0].body.value | sanitize"></span>

          <p class="author-about">
            Hilary Parker (’95, Journalism) is a freelance writer whose favorite summer job was working the produce stand for Joe’s Garden in Bellingham.
          </p>

          <!-- Pull Quotes -->
          <blockquote  data-ng-repeat="quote in articles[0].field_pull_quotes">
            {{ quote }}
          </blockquote>

        </section>

        <!-- Slideshow -->
        <div class="slick slideshow push-up">
          <button type="button" class="left-arrow">
            <img src="images/left-arrow.png" alt="scroll left">
          </button>

          <div class="slides">
            <img data-ng-repeat="image in articles[0].field_slideshow_images" src="{{ image.file.uri }}" alt="{{ image.file.resource }}">
          </div>

          <button type="button" class="right-arrow">
            <img src="images/right-arrow.png" alt="scroll right">
          </button>
        </div>



      </article>

    </main>

    <data-add-footer></data-add-footer>

    <script src="js/jquery_1.11.3.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/effects.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <script src="bower_components/angular-slick/dist/slick.js"></script>

  </div><!--page-wrapper-->
  </body>
</html>
