<!doctype html>
<html class="no-js" lang="">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Window - WWU Alumni Magazine</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="stylesheets/short-article-layout.css" media="screen" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
      <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">
      <!--[if IE]>
          <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <![endif]-->
  </head>
  <body>
    <div data-ng-app="articleApp" class="page-wrapper">

    <!-- NAVIGATION BAR (sticks to top) -->
    <data-navigate-bar></data-navigate-bar>

    <main data-ng-controller="articleCtrl" class="main-wrapper">
      <section class="article-wrap">
        <div class="slick">
          <div class="slideshow">

          <button type="button" class="left-arrow">
            <img src="images/left-arrow.png" alt="scroll left">
          </button>

          <div class="slides">
            <img data-ng-repeat="image in articles[4].field_slideshow_images" src="{{ image.file.uri }}">
          </div>

          <button type="button" class="right-arrow">
            <img src="images/right-arrow.png" alt="scroll right">
          </button>

          </div>
        </div>

        <article class="article-content">

          <header class="article-info">
            <h1 class="title">{{ articles[4].title }}</h1>
            <h3 class="tagline">{{ articles[4].field_byline }}</h3>
          </header>

          <span ng-bind-html="articles[4].body.value | sanitize"></span>

        </article>
      </section>
    </main>

    <data-add-footer></data-add-footer>

    <script src="js/jquery_1.11.3.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/app.js"></script>
    <script src="js/effects.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <script src="bower_components/angular-slick/dist/slick.js"></script>

  </div><!--page-wrapper-->
  </body>
</html>
