@import url(https://fonts.googleapis.com/css?family=Muli:400,300|Lato:300,400);
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.scss */
.slick {
  margin-left: -10px;
}

/* line 10, ../sass/screen.scss */
body {
  font-family: "Muli", verdana, arial, helvetica, geneva, sans-serif;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
}

/* line 19, ../sass/screen.scss */
a {
  color: #0070b6;
  text-decoration: none;
}
/* line 22, ../sass/screen.scss */
a:hover {
  color: #00416a;
}

/* line 26, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: baskerville, garamond, georgia, serif;
  letter-spacing: .02em;
}

/* line 30, ../sass/screen.scss */
h1 {
  font-size: 2em;
}

/* line 33, ../sass/screen.scss */
h2 {
  font-size: 1.8em;
}

/* line 36, ../sass/screen.scss */
h3 {
  font-size: 1.6em;
}

/* line 39, ../sass/screen.scss */
h4 {
  font-size: 1.4em;
}

/* line 42, ../sass/screen.scss */
h5 {
  font-size: 1.2em;
}

/* line 45, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 48, ../sass/screen.scss */
.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  height: 10vh;
  max-height: 100px;
  padding: 0;
  z-index: 40;
}
/* line 58, ../sass/screen.scss */
.left-arrow img, .right-arrow img {
  max-height: 100%;
  max-width: 100%;
}

/* line 63, ../sass/screen.scss */
.divider {
  float: left;
  width: 88.23529%;
  margin-left: 5.88235%;
  margin-right: -94.11765%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
  background: #003f87;
  color: #fff;
  padding: 20px;
}

/* line 72, ../sass/screen.scss */
.page-wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

/* line 77, ../sass/screen.scss */
.main-wrapper {
  padding-bottom: 300px;
}

/* line 80, ../sass/screen.scss */
.article-wrap {
  clear: both;
  padding: 40px 0;
  position: relative;
}
/* line 45, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.article-wrap:before, .article-wrap:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.article-wrap:after {
  clear: both;
}

/* line 88, ../sass/screen.scss */
.splash {
  position: relative;
  height: 100vh;
  color: #E9E9E9;
}
/* line 45, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.splash:before, .splash:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.splash:after {
  clear: both;
}
/* line 93, ../sass/screen.scss */
.splash .left-arrow {
  float: left;
  width: 5.88235%;
  margin-left: 5.88235%;
  margin-right: -11.76471%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 96, ../sass/screen.scss */
.splash .right-arrow {
  float: left;
  width: 5.88235%;
  margin-left: 88.23529%;
  margin-right: -94.11765%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media (min-width: 775px) {
  /* line 100, ../sass/screen.scss */
  .splash .left-arrow {
    float: left;
    width: 5.88235%;
    margin-left: 0%;
    margin-right: -5.88235%;
    padding-left: 8px;
    padding-right: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 103, ../sass/screen.scss */
  .splash .right-arrow {
    float: left;
    width: 5.88235%;
    margin-left: 94.11765%;
    margin-right: -100%;
    padding-left: 8px;
    padding-right: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

/* line 108, ../sass/screen.scss */
.cover-slideshow span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
}

/* line 118, ../sass/screen.scss */
.vertical-spacer {
  height: 100vh;
}

/* line 123, ../sass/screen.scss */
.nav-bar {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  height: 70px;
  z-index: 50;
  font-family: "Lato", verdana, arial, helvetica, geneva, sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  letter-spacing: .1em;
  text-transform: lowercase;
}
/* line 134, ../sass/screen.scss */
.nav-bar ul, .nav-bar li, .nav-bar a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

/* line 140, ../sass/screen.scss */
.top {
  position: absolute;
  top: 0;
}

/* line 144, ../sass/screen.scss */
.bottom {
  position: absolute;
  bottom: 70px;
  margin-bottom: -70px;
}

/* line 149, ../sass/screen.scss */
.sticky {
  position: fixed;
  top: 0;
}

/* line 153, ../sass/screen.scss */
.menu-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 99;
  max-width: 5%;
  min-width: 30px;
}
@media (min-width: 1550px) {
  /* line 153, ../sass/screen.scss */
  .menu-button {
    display: none;
  }
}

/* line 165, ../sass/screen.scss */
.nav-menu-active {
  float: left;
  width: 29.41176%;
  margin-left: 0%;
  margin-right: -29.41176%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  min-width: 200px;
  z-index: 98;
}
/* line 173, ../sass/screen.scss */
.nav-menu-active .menu-divider {
  display: none;
}
/* line 174, ../sass/screen.scss */
.nav-menu-active li {
  margin-left: -10px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.65);
}

/* line 180, ../sass/screen.scss */
.nav-menu {
  display: none;
}

@media (min-width: 1550px) {
  /* line 183, ../sass/screen.scss */
  .nav-menu, .nav-menu-active {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    background: none;
    left: inherit;
    top: 50%;
    transform: translateY(-50%);
    width: inherit;
    z-index: 98;
  }
  /* line 195, ../sass/screen.scss */
  .nav-menu li, .nav-menu-active li {
    margin-left: inherit;
    display: inline-block;
    padding: 0;
    background-color: inherit;
  }
  /* line 201, ../sass/screen.scss */
  .nav-menu .menu-divider, .nav-menu-active .menu-divider {
    display: inline;
  }
}

/* line 204, ../sass/screen.scss */
.nav-bar-logo {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 210, ../sass/screen.scss */
.nav-bar-logo img {
  max-width: 70vw;
  max-height: 60px;
}

/* line 217, ../sass/screen.scss */
.search {
  background: rgba(255, 255, 255, 0.1);
  color: #E9E9E9;
  text-align: right;
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(-10%, -50%);
  padding: 4px;
}
@media (min-width: 1160px) {
  /* line 217, ../sass/screen.scss */
  .search {
    float: left;
    width: 17.64706%;
    margin-left: 82.35294%;
    margin-right: -100%;
    padding-left: 8px;
    padding-right: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    display: block;
  }
}
@media (min-width: 1390px) {
  /* line 217, ../sass/screen.scss */
  .search {
    float: left;
    width: 11.76471%;
    margin-left: 88.23529%;
    margin-right: -100%;
    padding-left: 8px;
    padding-right: 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* line 233, ../sass/screen.scss */
.search .search-icon {
  vertical-align: middle;
  background: none;
  border: none;
}
/* line 237, ../sass/screen.scss */
.search .search-icon img {
  height: 30px;
}

/* line 244, ../sass/screen.scss */
.footer {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  height: 300px;
  background: #003f87;
  text-align: center;
  position: absolute;
  bottom: 0;
}
/* line 251, ../sass/screen.scss */
.footer img {
  max-width: 80%;
  margin: 40px 0;
}
/* line 255, ../sass/screen.scss */
.footer ul, .footer li, .footer a {
  color: #fff;
  text-decoration: none;
}
/* line 259, ../sass/screen.scss */
.footer li {
  display: inline-block;
  list-style: none;
}
/* line 263, ../sass/screen.scss */
.footer a:hover {
  color: #cce6f7;
}

/* line 4, ../sass/short-article-layout.scss */
blockquote {
  font-family: baskerville, garamond, georgia, serif;
  font-size: 2.5em;
  line-height: 1em;
  font-style: italic;
  color: #003f87;
  opacity: 1.0;
  margin-bottom: .75em;
}

/* line 13, ../sass/short-article-layout.scss */
.article-info {
  margin: 40px;
  font-family: baskerville, garamond, georgia, serif;
}

/* line 17, ../sass/short-article-layout.scss */
.title {
  font-size: 3em;
  line-height: 1em;
}

/* line 21, ../sass/short-article-layout.scss */
.tagline {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 25, ../sass/short-article-layout.scss */
.author {
  font-size: 2em;
}

/* line 28, ../sass/short-article-layout.scss */
.article-wrap {
  margin-top: 90px;
}
/* line 45, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.article-wrap:before, .article-wrap:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.article-wrap:after {
  clear: both;
}

/* line 32, ../sass/short-article-layout.scss */
.article-content {
  clear: both;
  float: left;
  width: 76.47059%;
  margin-left: 11.76471%;
  margin-right: -88.23529%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 1.3em;
  line-height: 1.5em;
}
/* line 37, ../sass/short-article-layout.scss */
.article-content p {
  margin-bottom: 1em;
}

/* line 41, ../sass/short-article-layout.scss */
.main-image {
  float: left;
  height: 50vh;
  width: auto;
  margin: 40px;
}

/* line 47, ../sass/short-article-layout.scss */
.slideshow {
  clear: both;
  position: relative;
  margin-top: 40px 0;
}
/* line 45, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.slideshow:before, .slideshow:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.slideshow:after {
  clear: both;
}
/* line 52, ../sass/short-article-layout.scss */
.slideshow .left-arrow, .slideshow .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* line 57, ../sass/short-article-layout.scss */
.slideshow .left-arrow {
  float: left;
  width: 5.88235%;
  margin-left: 0%;
  margin-right: -5.88235%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: left;
  z-index: 40;
  margin-left: 10px;
}
/* line 63, ../sass/short-article-layout.scss */
.slideshow .right-arrow {
  float: left;
  width: 5.88235%;
  margin-left: 94.11765%;
  margin-right: -100%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: right;
  z-index: 40;
  padding-right: 25px;
}

/* line 70, ../sass/short-article-layout.scss */
.slides {
  float: left;
  width: 100%;
  margin-left: 5.88235%;
  margin-right: -105.88235%;
  padding-left: 8px;
  padding-right: 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 50%;
  transform: translateX(-50%);
}
/* line 75, ../sass/short-article-layout.scss */
.slides img {
  height: 70vh;
}
