<section class="article-wrap">

  <div class="article-container">

    <div data-ng-repeat="article in articles"
         data-ng-show="{{ showArticles(articleType, article.field_feature) }}"
         class="{{ styling }}">

      <a href="{{ article.url }}">
        <div class="article-image" style="background-image: Url('{{ article.field_featured_image.file.uri }}');">
        </div>
      </a>

      <h4 class="article-title">{{ article.title }}</h4>

      <p class="article-summary">
          {{ article.field_byline }}
      </p>
    </div>
  </div>

</section>
