<section class="article-wrap">

  <data-slick class="class-notes">

    <button type="button" class="left-arrow">
      <img src="images/left-arrow.png" alt="scroll left">
    </button>

    <div class="note-scroller" data-ng-controller="notesCtrl">
      <article data-ng-repeat="note in notes" class="note">
        <div class="note-text">
          <h4>{{note.field_graduation_year}} - {{note.title}}</h4>
          <p>
          {{note.field_class_note_body}}
          </p>
        </div>
        <div class="photo-wrap">
          <div class="note-photo" data-ng-show="note.field_photograph.file.uri" style="background-image: url('{{note.field_photograph.file.uri}}')"></div>
        </div>
      </article>
    </div><!-- /note-scroller -->

    <button type="button" class="right-arrow">
      <img src="images/right-arrow.png" alt="scroll right">
    </button>

    <nav class="notes-menu">
      <ul>
        <li><a href="#">Class Notes</a> &#183;</li>
        <li><a href="#">Weddings</a> &#183;</li>
        <li><a href="#">Obituaries</a> &#183;</li>
        <li><a href="#">Browse Spring/Summer 2015</a> &#183;</li>
        <li><a href="#">All</a> </li>
      </ul>
    </nav>

  </data-slick>

</section>
