

<img class="menu-button" src="images/menu.png" alt="toggle menu">
<nav class="nav-menu">
  <ul>
    <li><a href="#">Archives</a></li><div class="menu-divider"> |</div>
    <li><a href="#">Class Notes</a></li><div class="menu-divider"> |</div>
    <li><a href="#">Stories</a></li><div class="menu-divider"> |</div>
    <li><a href="#">Columns</a></li>
  </ul>
</nav>

<div class="nav-bar-logo">
  <a href="index.html">
    <img src="images/logo.png" alt="Window Magazine">
  </a>
</div>

<div class="search">
  <span class="full-search">
  </span>
  <button class="search-icon">
    <img src="images/search.png" alt="search">
  </button>
</div>
