<footer class="footer">
  <img src="images/western-logo-blue.png" alt="Western Washington University">

  <nav id="footer-menu">
    <ul>
      <li><a href="#">About | </a></li>
      <li><a href="#">Contact Us | </a></li>
      <li><a href="#">Masthead | </a></li>
      <li><a href="#">Alumni Association | </a></li>
      <li><a href="#">WWU Homepage</a></li>
    </ul>
  </nav>
</footer>
