<div class="nav-bar"
     data-ng-class="{ 'sticky': !frontPage,
                      'front-nav': frontPage,
                      'bottom': frontPage
                    }">

  <img class="menu-button"
        data-ng-init="isActive = false"
        data-ng-click="isActive = !isActive"
        src="images/menu.png"
        alt="toggle menu">

  <nav data-ng-class="{'nav-menu': !isActive,
                       'nav-menu-active': isActive,
                       'front-menu': frontPage }">

    <ul>
      <li><a href="archive.html">Archives</a></li><div class="menu-divider"> |</div>
      <li><a href="class-notes.html">Class Notes</a></li><div class="menu-divider"> |</div>
      <li><a href="stories.html">Stories</a></li><div class="menu-divider"> |</div>
      <li><a href="columns.html">Columns</a></li>
    </ul>

  </nav>

  <div class="nav-bar-logo"
       data-ng-class="{'front-logo': frontPage, 'hidden': frontPage}">

    <a href="index.html"><img src="images/logo.png" alt="Window Magazine"></a>

  </div>

  <div class="search">
    <span class="full-search">
    </span>
    <button class="search-icon">
      <img src="images/search.png" alt="search">
    </button>
  </div>

</div>
